body {
    background-color: #0b0425;
    /* Darker background closer to the image's tone */
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header nav a {
    color: #ccc;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #ffcc00;
}

.section {
    padding: 2rem 1rem;
    margin-top: 2rem;
    text-align: center;
}

.mission h2 {
    color: #ff6600;
    font-size: 2.5rem;
    /* Larger font size for the mission heading */
}

.mission p {
    font-size: 1.25rem;
    /* Larger font size for the mission text */
}

.values h2 {
    color: #00cc6686;
}

.about h2 {
    color: #0099cc5f;
}

.problem h2 {
    color: #76145e;
}

.contact h2 {
    color: #816511;
}

.section p {
    color: #ccc;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
}

.image {
    background: url('https://raw.githubusercontent.com/Skidaway-io/skidaway-io.github.io/main/iStock-1438736329.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.5;
    /* Less distinct image */
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    /* More distinct semi-transparent background for better readability */
    color: #fff;
    padding: 2rem;
    width: 100%;
    height: 100%;
    /* Cover entire image section */
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.pure-button-primary {
    background: #ffcc00;
    color: black;
}