body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

.section {
    padding: 4rem 1rem;
    margin-top: 3rem;
    text-align: center;
}

.home h2 {
    color: #ffcc00;
}

.mission h2 {
    color: #ff6600;
}

.values h2 {
    color: #00cc66;
}

.about h2 {
    color: #0099cc;
}

.problem h2 {
    color: #cc0099;
}

.contact h2 {
    color: #cc9900;
}

.section p {
    color: #ccc;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
}

.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-text img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.pure-button-primary {
    background: #ffcc00;
    color: black;
}